### 과제 설명

- 과제 기한: ~9월 26일(화) 23:59 
- 제출 sfds.basic@gmail.com
- 메일 제목 양식: `과제1_성함`  -> `과제1_장준규`
- 총 20문제이며 한 문제당 10점(`총 200점`)
    - 푸는데 예상 시간: `20분~1시간30분`
- `100점 이상`이면 과제 제출 인정합니다.
- 과제하시다가 풀이가 필요한 문제는 번호를 메모해주세요.
    - 다음 수업 시작 전에 자원받아 풀이하도록 하겠습니다.
- 제출 결과는 `통과`, `미통과` 두가지만 있습니다.
    - 점수는 알려드리지 않습니다.
    - `미통과`되면 맞은 문제 번호 알려드립니다. 기한 내에 재제출 하셔야 합니다.
- 답지는 기한 종료 후 배포합니다.
- 제출 노트는 답 코드가 잘 보이도록 작성 부탁드립니다.
> 조교님 채점 시간도 필요하니 최대한 빠른 제출 부탁드립니다.

q1. `내가 하고 있는 알바의 내 시급은 얼마일까?` 알바비(400000)를 pay변수에, 총 알바시간(42)을 total_work_time 변수에 할당 후 시급을 구하는 코드를 작성하시오

q2. 10 과 10.1의 자료형을 확인하라

q3. a를 문자형으로 변환한 후 자료형을 확인하라

q4. "I love Python"을 me 변수에 넣고 3번 출력하라

q5. me의 길이는?

q6. me를 소문자로 바꿔라

q7. me변수를 공백에 따라 나눠라

q8. me변수의 I를 We로 바꿔라

q9. '마트에서 애기를 둔 아빠가 기저귀를 살 때 같이 구매하는 제품은 맥주다.'를 변수를 사용해 출력하라(f string이용하세요)

In [14]:
purchase_1 = '기저귀'
purchase_2 = '맥주'

q10. today를 이용하여 "올해는 2023년이고, 오늘은 0915이고, 날씨는 sunny합니다" 를 출력하세요

In [18]:
today = "20230915sunny"

q11. feature들 사이에 `, `를 넣어보세요  'x1 x2 x3' ==> 'x1, x2, x3'

In [20]:
feature='x1 x2 x3'

q12. 고객 연령대를 20살부터 69살까지를 20대,30대,...,60대를 표현하는 리스트([20,30,40,50,60])를 range를 사용해서 만들어 보세요

q13. `dataset = [(123),(4,6,7)]` 데이터 셋을 두 개(변수명 train, test) 를 나눠서 한 번에 저장 후 train를 출력해 보세요

In [24]:
dataset = [(1,2,3),(4,6,7)]

q14. 학점이 90초과면 'A' 80초과면 'B' 나머지는 'F'를 출력하는 함수 get_grade를 작성하세요
    ex) get_grade(91) -> 'A', get_grade(81) -> 'B',

In [32]:
get_grade(91)

A

In [33]:
get_grade(81)

B

q15. for문을 이용해서 '단맛'일 경우에 '단맛 좋아요'를 출력하고 아닐 경우에 '싫어요'를 출력하게 코드를 작성하시오

In [37]:
taste = ['단맛', '짠맛', '매운맛']

for i in taste:
        #코드를 작성하시오
    pass

q16. 숫자 하나를 입력받아, 홀수면 "odd", 짝수면 "even"을 출력하는 함수 odd_or_even을 만드세요.   
    ex) odd_or_even(9) -> 'odd'

In [40]:
odd_or_even(8)

even

q17. 투자금이 생기면 KOSPI, KOSDAQ 50:50로 투자한다.  
현재 투자금 상태(단위:만원)
`invested_price = {'KOSPI':1000, 'KOSDAQ':2000}`  입니다.
  
이번 달 1000만원이 더 생겼다. 그러면 투자금 상태는 어떻게 변화 될까?  add_money함수를 작성해보세요  
    ex) add_money(invested_price,100) -> {'KOSPI': 1050.0, 'KOSDAQ': 2050.0}

In [41]:
invested_price = {'KOSPI':1000, 'KOSDAQ':2000}
invested_price

{'KOSPI': 1000, 'KOSDAQ': 2000}

In [19]:
add_money(invested_price,100)

In [20]:
invested_price

{'KOSPI': 1050.0, 'KOSDAQ': 2050.0}

q18. lambda와 map을 이용해서 [1,2,3]의 제곱수를 구해라 -> 출력결과 예시: [1, 4, 9]

q19.  (lambda,map,if 이용)성별 리스트에서 '남'이면 1 그 밖에 2를 출력하라

In [59]:
성별 = ['남','여','여'] 
#[1, 2, 2] 가 출력되어야 함

q20. datetime 패키지(모듈)를 이용해서 오늘 일자를 나타내시오. ex) 오늘 일자는 2023-09-23입니다

# 추가 문제

> 과제 점수 평가에는 들어가지 않습니다. 여러분 실력 상승을 위한 문제입니다!

2. 정수형과 실수형을 더한 값은 자료형이 어떻게 될까?

In [62]:
a = 1
b = 2.34

type(a+b)
#실수형

float

3. 10 나누기 3의 결과를 내림해라(두 가지 방법을 제시)

In [13]:
10//3

3

In [14]:
int(10/3)

3

8. 2017년 기준금리는 1.51%이다.를 출력하라

In [76]:
basemoney_rate=1.5201

In [77]:
f'2017년 기준금리는 {basemoney_rate:.2f}%이다'

'2017년 기준금리는 1.52%이다'

- 조건연산자 주의!

1. `==`  비교했을 때 나오는 값은?
    - [] 과 False
    - None 과 False

In [29]:
[] == False

False

In [30]:
None == False

False

> `[]`, `None` 둘다 False를 뜻하지만 False의 문자그대로의 value는 다르다

2. `is` 로 나오는 값은?
    - None 과 False
    - [] 과 False

In [31]:
None is False

False

In [32]:
id(False)

140705003559048

In [33]:
id(None)

140705003609304

In [34]:
[] is False

False

In [35]:
id([])

1582846439040

In [37]:
# 3. while을 이용해 구구단 2,3단을 출력하라
i = 2
while i < 4:
    print('****%s단****' % i)
    j = 1
    while j < 10:
        print(i,'*',j,'=',i*j)
        j += 1
    i += 1
    print()

****2단****
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

****3단****
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [38]:
# 4. 사용자에게 궁금한 구구단 수를 물어보고 해당 구구단이 출력하게 하라
#결과예) 3단이 궁금해서 3을 입력하면 구구단 3단이 출력된다.

In [39]:
user = int(input('몇 단이 궁금하세요?'))
print('구구단',user,'단을 알려드리겠습니다.')
for j in range(1,10):
    print(user,'*',j,'=',user*j)

몇 단이 궁금하세요?1
구구단 1 단을 알려드리겠습니다.
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

3. filter, map을 사용해서 [1,2,3,4]에서 짝수만 찾아내어 제곱하라

In [31]:
# 3. filter, map을 사용해서 [1,2,3,4]에서 짝수만 찾아내어 제곱하라
test = [1,2,3,4]
def judge_fn(value):
    return value % 2 == 0 # 짝수만 pass
def power_fn(value):
    return value ** 2
list(map(power_fn, filter(judge_fn,test)))

[4, 16]

4. enumerate, for을 사용하여 자기계발 종류와 유형을 순서와 함께 출력  
0 ('python', 'coding')  
1 ('tennis', 'exercise')

In [33]:
# 4. enumerate, for을 사용하여 자기계발 종류와 유형을 순서와 함께 출력
acts = ['python','tennis']
types = ['coding','exercise']
for i, (index1,index2) in enumerate(zip(acts, types)):
    print(i,index1,index2)

0 python coding
1 tennis exercise